.outer {
    display: table;
    position: absolute;
    top:  0;
    left: 0;
    height: 80%;
    width: 100%;
  }
  
.middle {
    display: table-cell;
    vertical-align: middle;
}

.form-signin { 
    width: 70%; 
    margin: auto; 
}

.form-signin div {
   margin-top: 10px;
   margin-bottom: 10px;
}


  
  
