#app {
    font: 14px 'Helvitica Neue', Helvitica;
    color: #4d4d4d;
    min-width: 550px; 
    margin: 0 auto;

}

a.active {
    color: orange;
}

nav {
    padding-top: 20px;
}

 
h1 {
    text-align: center
}

label {
    vertical-align: middle
}