.selector {
    margin: 5px;
}


.error-label{
    color: red
}

.ag-theme-blue .error-row {
    background: #ff6666;
    color: white; 
}

.ag-theme-blue .warning-row {
    background: lightgrey;
}

.negative-cell {
    color: red;
}

.header {
    margin-left:20px;
}

summary {
    font-size: 1.5rem;
    color:#007bff;
}

details {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (min-width: 992px){
    .checkbox-container{ 
        margin-bottom: 5px;
    } 
    .control-label {
        line-height:30px;
        margin-left:10px; 
    }

    .form-check{
        padding-left: 0.5rem;
    }
}
@media screen and (max-width: 991.99px){
  
    .login-control{
        height: 100px;
        margin-top: 50px;
        margin-bottom: 50px;
        font-size: 2rem;
    }

    .btn-primary{
         
        font-size: 2rem;
    }
    .error-label, .control-label{
        font-size: 2rem;
    } 
    
    .control-label {
        line-height:50px;
        margin-left:10px; 
    }

    .ag-theme-blue {
        font-size: 26px;
    }
    .ag-theme-blue .ag-header { 
        font-size: 26px;
    }
}

 
.right {
    position: absolute;
    right: 10px;  
}

.top {
    position: absolute;
    top: 10px;
}
.mainView {
    margin: 10px;
} 

.toggleCheckbox{
	height: 0;
	width: 0;
	visibility: hidden;
}

.toggleLabel {
	cursor: pointer;
	text-indent: -9999px;
	width: 100px;
	height: 50px;
	background: grey;
	display: block;
	border-radius: 50px;
	position: relative;
}

.toggleLabel:after {
	content: '';
	position: absolute;
	top: 2.5px;
	left: 2.5px;
	width: 45px;
	height: 45px;
	background: #fff;
	border-radius: 45px;
	transition: 0.3s;
}

.toggleCheckbox:checked + .toggleLabel {
	background: #007bff;
}

.toggleCheckbox:checked + .toggleLabel:after {
	left: calc(100% - 2.5px);
	transform: translateX(-100%);
}

.toggleLabel:active:after {
	width: 130px;
}

 